@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --white: #ffffff,
  --black: #000000,
  --black-light: #212b36,
  --gray-dark: #666666,
  --gray: #979797,
  --gray-light: #f6f6f6,
  --yellow: #f1c34e;
  --red: #eb5757;
  --green: #285017;
  --green-olive: #7cab5b;

  /* Blend  */
  /* Pass through */

  /* Text Sizes*/
  --font-xs: 10px;
  --font-sm: 12px;
  --font-normal: 14px;
  --font-md: 16px;
  --font-lg: 20px;
  --font-xl: 24px;
}

body,
html {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

*:focus:not(:-moz-focusring) {
  outline: none;
}
